.address {
  padding-bottom: 0 !important;
  margin-top: 15rem !important;
  @media only screen and (max-width: $bp-small-1) {
    margin-top: 8rem !important;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 7.5rem !important;
  }
}
.content__map {
  position: relative !important;
  //display: block;

  padding: 7.5rem 0rem 7.5rem 5rem;
  @media only screen and (min-width: $bp-small-1) {
    flex: 0 0 65%;
  }
  @media only screen and (max-width: $bp-small-1) {
    padding: 0;
   height: 50rem;
  }
  .cls {
    position: relative !important;
    //background-color: red;
    height: 100%;
    width: 100%;
    &:after {
      content: '';
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-image: linear-gradient(to right ,var(--color-primary-dark), var(--color-primary));
      bottom: -3rem;
      left: -3rem;
      @media only screen and (max-width: $bp-small) {
        width: 7.5rem;
        height: 7.5rem;
        left: -1rem;
        bottom: -1rem;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-image: linear-gradient(to right ,var(--color-primary-dark), var(--color-primary));
      top: -3rem;
      right: -3rem;
      @media only screen and (max-width: $bp-small) {
        width: 7.5rem;
        height: 7.5rem;
        top: -1rem;
        right: -1rem;
      }
    }
  }
}

.content__input {
  flex: 0 0 35% !important;

}
.map-div {
  width: 17rem !important;
  @media only screen and (max-width: $bp-small-1) {
    height: .4rem !important;
    width: 10rem !important;
  }
  @media only screen and (max-width: $bp-small) {
    height: .3rem !important;
    width: 7rem !important;
  }

}

.map-par {
  text-transform: uppercase !important;
}

.title_1add {
  @media only screen and (max-width: $bp-small-1) {
    margin-top: 1.4rem !important;
    font-size: 3rem !important;
    letter-spacing: .2rem !important;
    line-height: .6 !important;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 1.2rem !important;
    font-size: 2.3rem !important;
    letter-spacing: .2rem !important;
  }

}